body 
{
    padding-top: 5rem;
    content: fixed;
}

#circle
{
    border-radius: 60%;
}


/*first div*/
.bi
{
    height: 500%;
    width: 80%;
    padding: 40px;
    /*border-bottom: 1px solid black;*/
    margin-left: 30px;
	background-color: #228B22;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	text-align: center;
    text-decoration-color: white;
    text-shadow: 2px 4px 6px;
	position: relative;
}

.biology
{
    margin: 0;
}

/*second div*/
.bio
{
    height: 150%;
    width: 80%;
    padding: 40px;
    /*border: 2px solid black;*/

    text-align: center;
    position: static;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-shadow: 2px 2px 8px;
    text-decoration-color: white;
    font-size: 20px;
}

button
{
    width: 20%;
    height: 40%;
    border-color: #7FFF00;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 25px;
    font-weight: bold;
}

#follow
{
    background-color: limegreen;
    /*text-decoration-color: white;*/
}